@page
@using MMFinancial.Web.Pages.Transactions
@model MMFinancial.Web.Pages.Transactions.UploadModel

@section scripts{
    <abp-script src="/Pages/Transactions/Upload.js" />
}

<abp-card>
    <abp-card-header>
        <h3>Tractions File Upload</h3>
    </abp-card-header>
    <abp-card-body>
        <abp-row>
            <abp-column>
                <form method="post" enctype="multipart/form-data">
                    @if(Model.EmptyFile){
                        <div class="alert alert-danger" role="alert">
                          Choose a non empty file !
                        </div>
                        }
                    @if(Model.AlreadyUploadedDate){
                        <div class="alert alert-danger" role="alert">
                          Transactions from this day are already uploaded !
                        </div>
                        }
                    <div hidden>
                        <abp-input asp-for="UploadFileDto.Name"></abp-input>
                    </div>
                    <abp-input asp-for="UploadFileDto.File"></abp-input>

                    <input type="submit" class="btn btn-info" />
                </form>
            </abp-column>

            @*<abp-column style="border-left: 1px dotted gray">
                <h3>Download File</h3>
                <hr />
                <form id="DownloadFile">
                    <div class="form-group">
                        <label for="fileName">Filename</label><span> * </span>
                        <input type="text" id="fileName" name="fileName" class="form-control ">
                    </div>

                    <input type="submit" class="btn btn-info"/>
                </form>
            </abp-column>*@
        </abp-row>
    </abp-card-body>
</abp-card>