@page
@using Microsoft.AspNetCore.Mvc.Localization
@using MMFinancial.Localization
@using Volo.Abp.Users
@model MMFinancial.Web.Pages.IndexModel
@inject IHtmlLocalizer<MMFinancialResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.js" />
}

<abp-card-body>
        <abp-row>
            <abp-column>

                <h5>Hi ! this application was developed as a programming challenge from <a href="https://www.alura.com.br/challenges">Alura</a></h5>
                <h6>There are two main features:</h6>
                <h6> -> <a href="/Transactions/Upload">Uploading financial transactions files<a/></h6>
                <h6> -> <a href="/Transactions/Suspect">Checking for suspect financial movements</a></h6>
                <h5>Full description/Documentation at github: <a href="https://github.com/Mateus-Mannes/MMFinancial">https://github.com/Mateus-Mannes/MMFinancial</a></h5>

                </abp-column>
        </abp-row>
</abp-card-body>